<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Registration</title>
</head>
<body>
<h1>User Registration</h1>
<form action="#" th:action="@{/homePage}" th:object="${user}" method="post">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    <p th:text="${loginError}" style="color:red"></p> <!-- 显示登录错误信息 -->
</form>
</body>
</html>
